doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  title Conecta a quienes tienen un negocio con voluntarios que los ayudan a crecer
  link(rel='stylesheet' href='css/feed_style.css')
  link(href='https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap' rel='stylesheet')
  meta(property='og:title' content='Conecta Digital España')
  meta(name='description' content='Te conectamos con quienes quieren verte crecer')
  meta(property='og:image' content='conecta-logo.png')
  // favicon
  link(rel='apple-touch-icon' sizes='57x57' href='favicon/apple-icon-57x57.png')
  link(rel='apple-touch-icon' sizes='60x60' href='favicon/apple-icon-60x60.png')
  link(rel='apple-touch-icon' sizes='72x72' href='favicon/apple-icon-72x72.png')
  link(rel='apple-touch-icon' sizes='76x76' href='favicon/apple-icon-76x76.png')
  link(rel='apple-touch-icon' sizes='114x114' href='favicon/apple-icon-114x114.png')
  link(rel='apple-touch-icon' sizes='120x120' href='favicon/apple-icon-120x120.png')
  link(rel='apple-touch-icon' sizes='144x144' href='favicon/apple-icon-144x144.png')
  link(rel='apple-touch-icon' sizes='152x152' href='favicon/apple-icon-152x152.png')
  link(rel='apple-touch-icon' sizes='180x180' href='favicon/apple-icon-180x180.png')
  link(rel='icon' type='image/png' sizes='192x192' href='favicon/android-icon-192x192.png')
  link(rel='icon' type='image/png' sizes='32x32' href='favicon/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='96x96' href='favicon/favicon-96x96.png')
  link(rel='icon' type='image/png' sizes='16x16' href='favicon/favicon-16x16.png')
  link(rel='manifest' href='favicon/manifest.json')
  meta(name='msapplication-TileColor' content='#ffffff')
  meta(name='msapplication-TileImage' content='/ms-icon-144x144.png')
  meta(name='theme-color' content='#ffffff')
// nav_bar
nav.nav_bar
  .nav_left
    .nav_logo
      a(href='index.html')
        img(src='img/nav_logo.svg')
  .nav_right
    ul
      li
        a(style='background-color: #0BCDB5;' href='https://preparados.typeform.com/to/aFiLik8L') ABRIR MI CASO
// main
.header
  .header_main
    .main_left
      h3 &iquest;Tienes dudas?
      p Hemos hecho una lista de preguntas que pueden ayudar a resolverlas.
    div(style='clear:both;')
// main
.feed
  // Inicio Caso
  .texto-libre
    h3
      | Generales
    h5
      | 1. &iquest;Qu&eacute; es Conecta Digital?
    p
      | Es una plataforma de voluntariado que ha surgido a ra&iacute;z de la crisis del COVID-19 para poner en contacto a negocios cuya actividad ha disminuido por el confinamiento con voluntarios que est&aacute;n dispuestos a echarles una mano a digitalizar y adaptarse a esta nueva situaci&oacute;n.  
      br
      br
      | &#x9;&#x9;El uso de la plataforma es gratuito y los profesionales que ayudan a los negocios tambi&eacute;n lo hacen de forma altruista y gratuita. 
      br
      br
      | &#x9;&#x9;Toda la comunicaci&oacute;n que se realice entre el voluntario y el interesado quedar&aacute; al margen de 
      a(href='https://conecta-digital.com/') conecta-digital.com
      | .
      br
      br
    h5
      | 2. &iquest;Qui&eacute;n est&aacute; detr&aacute;s de Conecta Digital?
    p
      | Somos un grupo de compa&ntilde;eros y ex-compa&ntilde;eros de trabajo que de forma voluntaria y extralaboral hemos querido ponernos manos a la obra y ayudar a los peque&ntilde;os comercios en la crisis econ&oacute;mica derivada del COVID-19 construyendo esta plataforma de voluntariado. Toda la informaci&oacute;n 
      a(href='quienes_somos.html') aqu&iacute;
      | .
      br
      br
      br
    h3
      | Negocios
    h5
      | 1. Tengo un negocio, &iquest;qu&eacute; tengo que hacer para que me ayuden?
    p
      | Simplemente tienes que poner una descripci&oacute;n de tu negocio y la situaci&oacute;n en la que est&aacute; 
      a(href='https://preparados.typeform.com/to/aFiLik8L') aqu&iacute;
      | . Una vez completada, tu caso aparecer&aacute; en la web de 
      a(href='feed_negocios.html') conecta-digital.com
      |  para que los profesionales dispuestos a ayudar valoren tu caso y se pongan en contacto contigo por email si creen que pueden ayudarte.
      br
      br
    h5
      | 2. &iquest;A qu&eacute; tipo de negocios est&aacute; dirigido?
    p
      | A todos los peque&ntilde;os negocios cuya actividad haya disminuido a causa de la crisis del COVID-19. Negocios como restaurantes, tiendas minoristas o centros de ense&ntilde;anza.
      br
      br
    h5
      | 3. &iquest;Qu&eacute; pasa una vez que env&iacute;o mi caso?
    p
      | La informaci&oacute;n que nos has proporcionado se publicar&aacute; en 
      a(href='feed_negocios.html') conecta-digital.com
      |  para que los voluntarios te encuentren y puedan ayudarte.
      br
      br
    h5
      | 4. &iquest;Cu&aacute;l es el coste del servicio?
    p
      | Es totalmente gratuito. La plataforma 
      a(href='https://conecta-digital.com/') conecta-digital.com
      |  no cobra por sus servicios y los voluntarios tampoco. Queremos crear una comunidad que, por un lado, entiende la urgencia y la crisis que atraviesan los diferentes tipos de negocios y, por otro, confiamos en la solidaridad de diferentes perfiles capaces de dar una mano de buena fe sin esperar dinero a cambio. Nosotros mismos creamos 
      a(href='https://conecta-digital.com/') conecta-digital.com
      |  a base de reconocer nuestros propios privilegios socioecon&oacute;micos.
      br
      br
    h5
      | 5. &iquest;C&oacute;mo se ponen en contacto conmigo los voluntarios?
    p
      | Cuando un voluntario seleccione tu caso para ayudarte, pondremos a su disposici&oacute;n tu email para que se ponga en contacto contigo y pod&aacute;is colaborar directamente.
      br
      br
      br
    h3
      | Voluntarios
    h5
      | 1. Me muevo en el mundo digital, &iquest;c&oacute;mo puedo ayudar?
    p
      | Echa un vistazo a los casos que han abierto los negocios 
      a(href='feed_negocios.html') aqu&iacute;
      | . A&ntilde;ade tus datos y te proporcionaremos el contacto del negocio que has seleccionado para ayudar. 
      br
      br
    h5
      | 2. &iquest;Qui&eacute;nes pueden ayudar?
    p
      | Buscamos analistas de datos, dise&ntilde;adores, desarrolladores, especialistas en marketing y comunicaci&oacute;n, expertos en productos digitales, desarrollo de negocio, etc. que tengan ganas de ayudar a salir m&aacute;s fuertes de esta crisis a los peque&ntilde;os comercios.
      br
      br
    h5
      | 3. &iquest;Tengo que ser profesional?
    p
      | No necesariamente. Lo importante es que entiendas de tecnolog&iacute;a y te ofrezcas a ayudar a alguien en &aacute;rea que te guste y sepas hacer. Es importante que sepas que, al tomar un caso, hay alguien del otro lado con mucha ilusi&oacute;n y esperanzas de salir de esta crisis econ&oacute;mica lo mejor posible. Puede que no tengas una profesi&oacute;n como las que mencionamos arriba pero, quiz&aacute;s, entiendes lo suficiente de tecnolog&iacute;a para ayudar a alguien a crear un ecommerce o publicar sus productos en una app de entregas.
      br
      br
    h5
      | &iquest;Hay alguna otra cosa que te gustar&iacute;a saber?
    p
      | No dudes en escribirnos para resolver tus dudas o para saludarnos a: 
      a(href='mailto:hola@conecta-digital.com') hola@conecta-digital.com
      | .
    br
    br
    br
    h3
      | Publicidad de tu actividad
    h5
      | 1. Si tengo una agencia o estudio, &iquest;puedo participar de Conecta Digital?
    p
      | Si quieres asesorar a los negocios con tu actividad y cobrar por ello, completa este 
      a(href='https://preparados.typeform.com/to/mnC1wG') formulario
      |  para formar parte de nuestra web y llegar a los negocios a trav&eacute;s de nuestro newsletter.
      br
      br
    h5
      | 2. &iquest;Puedo contactar a los negocios desde la p&aacute;gina?
    p
      | Preferimos que el contacto que reciben los negocios sean totalmente desinteresados y sin costo porque esa es la propuesta de valor de 
      a(href='https://conecta-digital.com/') Conecta Digital
      | . Sin embargo, comprendemos 100% que quieras ampliar tus contactos. Es por eso que ofrecemos la posibilidad usar a 
      a(href='https://conecta-digital.com/') Conecta Digital
      |  como medio publicitario. Si quieres aparecer en nuestra web y que comuniquemos tus servicios a trav&eacute;s de nuestro newsletter, completa este 
      a(href='https://preparados.typeform.com/to/mnC1wG') formulario
      | .
      br
      br
// Fin Caso
// Footer
.footer
  .webmap
    ul
      li
        a(href='index')
          p Inicio
      li
        a(href='proyectos')
          p Casos abiertos
      li
        a(href='quienes_somos')
          p Quienes somos
      li
        a(href='faqs')
          p Preguntas frecuentes
      li
        a(href='docs/termsandconditions_conecta-digital.pdf')
          p T&eacute;rminos y condiciones
      li
        a(href='docs/personalinfo-conecta-digital.pdf')
          p Pol&iacute;tica de privacidad
  .footer_2
    .footer_left
      h3(style='margin: 20px 0;') S&iacute;guenos y comparte
      .social
        a(href='https://twitter.com/ConectaEspana')
          img(src='img/twitter.svg')
        a(href='https://www.instagram.com/conectadigital_es')
          img(src='img/instagram.svg')
        a(href='https://www.facebook.com/ConectaDigitalEsp/')
          img(src='img/facebook.svg')
      p
        | Si tienes dudas o quieres saludarnos, nos puedes escribir a 
        a(href='mailto:hola@conecta-digital.com') hola@conecta-digital.com
        | .
    .footer_right
      img(src='img/footer_logo.svg')
    div(style='clear:both;')
  .footer_1
    .footer_left
      h3(style='font-size: 1.8em;') Gracias por apoyar proyectos solidarios como este
    .negocios_right
      img(style='width: 40%; float: left;padding: initial;' src='img/typeform_logo.svg')
      img(style='width: 40%; float: right;padding: initial;' src='img/godaddy_logo.svg')
    div(style='clear:both;')
