doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1,\
  shrink-to-fit=no')
  title Conecta a quienes tienen un negocio con voluntarios que los ayudan a crecer
  link(rel='stylesheet' href='css/style.css')
  script(src='js/script.js')
  link(href='https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap' rel='stylesheet')
  meta(property='og:title' content='Conecta Digital España')
  meta(name='description' content='Te conectamos con quienes quieren verte\
  crecer')
  meta(property='og:image' content='conecta-logo.png')
  // favicon
  link(rel='apple-touch-icon' sizes='57x57' href='favicon/apple-icon-57x57.png')
  link(rel='apple-touch-icon' sizes='60x60' href='favicon/apple-icon-60x60.png')
  link(rel='apple-touch-icon' sizes='72x72' href='favicon/apple-icon-72x72.png')
  link(rel='apple-touch-icon' sizes='76x76' href='favicon/apple-icon-76x76.png')
  link(rel='apple-touch-icon' sizes='114x114' href='favicon/apple-icon-114x114.png')
  link(rel='apple-touch-icon' sizes='120x120' href='favicon/apple-icon-120x120.png')
  link(rel='apple-touch-icon' sizes='144x144' href='favicon/apple-icon-144x144.png')
  link(rel='apple-touch-icon' sizes='152x152' href='favicon/apple-icon-152x152.png')
  link(rel='apple-touch-icon' sizes='180x180' href='favicon/apple-icon-180x180.png')
  link(rel='icon' type='image/png' sizes='192x192' href='favicon/android-icon-192x192.png')
  link(rel='icon' type='image/png' sizes='32x32' href='favicon/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='96x96' href='favicon/favicon-96x96.png')
  link(rel='icon' type='image/png' sizes='16x16' href='favicon/favicon-16x16.png')
  link(rel='manifest' href='favicon/manifest.json')
  meta(name='msapplication-TileColor' content='#ffffff')
  meta(name='msapplication-TileImage' content='favicon/ms-icon-144x144.png')
  meta(name='theme-color' content='#ffffff')
  script.
    window.onload = amplitude.getInstance().logEvent('PAGINA_HOME');
// nav_bar
nav.nav_bar.hidden
  .nav_left
    .nav_logo
      a(href='index')
        img(src='img/nav_logo.svg')
  .nav_right
    ul
      li
        a(style='background-color: #0BCDB5;' onClick='amplitude.getInstance().logEvent(\'BOTON_HOME_NAVBAR_TENGOUNNEGOCIO\')'  href='https://preparados.typeform.com/to/aFiLik8L') TENGO UN NEGOCIO
      li#nav_casos
        a(style='background-color: #FFD24F;' onClick='amplitude.getInstance().logEvent(\'BOTON_HOME_NAVBAR_VERCASOS\')'  href='proyectos') VER CASOS
// main
.header
  .header_main
    .main_left
      h1 Conectamos peque&ntilde;os comercios con voluntarios que quieren verlos crecer
      h2
        | Si tu actividad se vio afectada total o parcialmente por el COVID-19 y tienes una idea de c&oacute;mo reactivarte, conoce a los voluntarios que te quieren ayudar.
      .main_buttons
        .main_button_left
          a(style='background-color: #0BCDB5;' onClick='amplitude.getInstance().logEvent(\'BOTON_HOME_NAVBAR_TENGOUNNEGOCIO\')'  href='https://preparados.typeform.com/to/aFiLik8L')
            .button_principal
              span TENGO UN NEGOCIO
        .main_button_right
          a(style='background-color: #FFD24F;' onClick='amplitude.getInstance().logEvent(\'BOTON_HOME_NAVBAR_VERCASOS\')'  href='proyectos')
            .button_secondary
              span QUIERO AYUDAR
    .main_right
      img(src='img/composicion_logo.svg')
    div(style='clear:both;')
// negocios
.negocios
  .negocios_1
    .negocios_left
      h3 &iquest;Tienes un negocio? Cu&eacute;ntanos c&oacute;mo ayudarte
      p
        | Dinos qu&eacute; te gustar&iacute;a hacer: vender online, mejorar tus redes sociales o crear una marca que te destaque y llegar a m&aacute;s clientes. No cobramos comisiones ni suscripci&oacute;n.
      .negocios_button
        a(style='background-color: #0BCDB5;' onClick='amplitude.getInstance().logEvent(\'BOTON_HOME_NAVBAR_TENGOUNNEGOCIO\')'  href='https://preparados.typeform.com/to/aFiLik8L')
          .button_principal
            span TENGO UN NEGOCIO
    .negocios_right
      img(src='img/dialogo_1.svg')
    div(style='clear:both;')
  .negocios_1
    .negocios_left
      img(src='img/dialogo_4.svg')
    .negocios_right
      h3 &iquest;Quieres ayudar a los peque&ntilde;os negocios?
      p
        | Si quieres dar una mano de 
        span#font_strong manera desinteresada
        | , puedes comenzar con alguno de los casos que ya est&aacute;n esperando tu ayuda.
        br
        br
        | &Uacute;nete a esta comunidad de voluntarios y suma experiencia asesorando a comercios afectados.
      .negocios_button
        a(href='proyectos')
          .button_secondary
            span QUIERO AYUDAR
    div(style='clear:both;')
  .negocios_1
    .negocios_left
      h3 &iquest;Tu actividad podr&iacute;a ayudar a otros negocios?
      p
        | Si tienes una agencia de marketing, de dise&ntilde;o, te dedicas a desarrollar tiendas online o cualquier otra tarea que podr&iacute;an necesitar los comercios para digitalizarse, puedes escribirnos a 
        a(href='mailto:hola@conecta-digital.com') hola@conecta-digital.com
        |  y le daremos visibilidad a tu propuesta.
        br
        br
        | Si tienes un negocio y quieres comenzar ya, pide presupuestos en el siguiente enlace.
      .negocios_button
        a(href='options')
          .button_third
            span VER OPCIONES
    .negocios_right
      h4
        | Tienda Online
        br
        | Web
        br
        | Plan de Negocios
        br
        | Dise&ntilde;o
        br
        | Marketing
        br
        | Digitalizaci&oacute;n
    div(style='clear:both;')
  // StopCorona
  .one_row
    .negocios_left
      h5 Felices con este proyecto
      p
        | Conecta Digital es uno de los ganadores de #StopCorona, una iniciativa que promueve iniciativas tecnol&oacute;gicas que contribuyan a ganar la batalla sanitaria del COVID-19 mediante la tecnolog&iacute;a.
        a(href='https://www.stopcorona.es/ganadores/')
          |  Ver m&aacute;s detalles.
    .main_right
      img(src='img/stopcorona_logo.svg')
    div(style='clear:both;')
  // Casos
  .feed
    .negocios_1
      .negocios_left(style='margin-bottom: 100px;')
        h3 Casos abiertos
        p
          | Estos son algunos de los casos que est&aacute;n abiertos y esperan de tu ayuda voluntaria y desinteresada.
        .negocios_button(style='float: left;padding-bottom: 50px;')
          a(href='proyectos')
            .button_secondary
              span VER TODOS
      .main_right
        img(src='img/conecta_conversacion.svg')
      div(style='clear:both;')
      // Inicio Caso
      .caso_feed(style='margin-left: initial;')
        .info_formulario
          h5
            span#nombre_negocio La Puerta Amarilla
          p#descripcion_actividad
            span
              | Tengo un restaurante de carnes y hamburguesas y estoy sirviendo para domicilio. Pero dada la alta comisi&oacute;n que quitan las plataformas estaba pensando en hacer el reparto mediante mi propia app. Necesitar&iacute;a la parte del reparto.
          p
            span#descripcion_necesidad Quisiera poder vender online.
          .feed_button
            a(href='https://conecta-digital.com/proyecto/5eb5292fcb698e1371735211')
              .button_secondary_ghost
                span VER DETALLE
      // Fin Caso
      // Inicio Caso
      .caso_feed
        .info_formulario
          h5
            span#nombre_negocio La habitaci&oacute;n de Martina
          p#descripcion_actividad
            span
              | La habitaci&oacute;n de Martina es una tienda on line de venta de ilustraci&oacute;n infantil, l&aacute;minas decorativas, &aacute;lbum ilustrado, juguetes y art&iacute;culos de decoraci&oacute;n. En estos momentos aceptamos pedidos on line pero por la dificultad de conciliar no podemos abarcar correctamente todo el trabajo en redes sociales y de actualizaci&oacute;n y mantenimiento de la web.
          p
            span#descripcion_necesidad Quisiera hacer marketing online.
          .feed_button
            a(href='https://conecta-digital.com/proyecto/5ebadb756c1cde26b9a4021b')
              .button_secondary_ghost
                span VER DETALLE
      // Fin Caso
      // Inicio Caso
      .caso_feed
        .info_formulario
          h5
            span#nombre_negocio LA-&Oacute;PTICA de Ciudad Lineal
          p#descripcion_actividad
            span
              | Tengo una &oacute;ptica en Ciudad Lineal. Dado que el negocio se basa en ventas en el local querr&iacute;a encontrar la forma de vender online y hacer marketing digital.
          p
            span#descripcion_necesidad Quisiera hacer marketing online.
          .feed_button
            a(href='https://conecta-digital.com/proyecto/5eb3bcb3db9ab43e5d53857c')
              .button_secondary_ghost
                span VER DETALLE
      div(style='clear:both;')
      // Fin Caso
  // Footer
  .footer
    .webmap
      ul
        li
          a(href='index')
            p Inicio
        li
          a(href='proyectos')
            p Casos abiertos
        li
          a(href='quienes_somos')
            p Quienes somos
        li
          a(href='faqs')
            p Preguntas frecuentes
        li
          a(href='docs/termsandconditions_conecta-digital.pdf')
            p T&eacute;rminos y condiciones
        li
          a(href='docs/personalinfo-conecta-digital.pdf')
            p Pol&iacute;tica de privacidad
    .footer_2
      .footer_left
        h3(style='margin: 20px 0;') S&iacute;guenos y comparte
        .social
          a(href='https://twitter.com/ConectaEspana')
            img(src='img/twitter.svg')
          a(href='https://www.instagram.com/conectadigital_es')
            img(src='img/instagram.svg')
          a(href='https://www.facebook.com/ConectaDigitalEsp/')
            img(src='img/facebook.svg')
        p
          | Si tienes dudas o quieres saludarnos, nos puedes escribir a 
          a(href='mailto:hola@conecta-digital.com') hola@conecta-digital.com
          | .
      .footer_right
        img(src='img/footer_logo.svg')
      div(style='clear:both;')
    .footer_1
      .footer_left
        h3(style='font-size: 1.8em;') Gracias por apoyar proyectos solidarios como este
    .negocios_right
      img(style='width: 40%; float: left;padding: initial;' src='img/typeform_logo.svg')
      img(style='width: 40%; float: right;padding: initial;' src='img/godaddy_logo.svg')
    div(style='clear:both;')

script(src='lib/jquery-3.4.1.min.js' type='text/javascript')
script(src='lib/main.js')