doctype html
html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    
  body
    block content

   
    script(href='/js/jquery.min.js')
    script(href='/js/popper.js')
    script(href='/js/bootstrap.min.js')
