doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  title Conecta a quienes tienen un negocio con voluntarios que los ayudan a crecer
  link(rel='stylesheet' href='css/feed_style.css')
  link(href='https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap' rel='stylesheet')
  meta(property='og:title' content='Conecta Digital España')
  meta(name='description' content='Te conectamos con quienes quieren verte crecer')
  meta(property='og:image' content='conecta-logo.png')
  // favicon
  link(rel='apple-touch-icon' sizes='57x57' href='favicon/apple-icon-57x57.png')
  link(rel='apple-touch-icon' sizes='60x60' href='favicon/apple-icon-60x60.png')
  link(rel='apple-touch-icon' sizes='72x72' href='favicon/apple-icon-72x72.png')
  link(rel='apple-touch-icon' sizes='76x76' href='favicon/apple-icon-76x76.png')
  link(rel='apple-touch-icon' sizes='114x114' href='favicon/apple-icon-114x114.png')
  link(rel='apple-touch-icon' sizes='120x120' href='favicon/apple-icon-120x120.png')
  link(rel='apple-touch-icon' sizes='144x144' href='favicon/apple-icon-144x144.png')
  link(rel='apple-touch-icon' sizes='152x152' href='favicon/apple-icon-152x152.png')
  link(rel='apple-touch-icon' sizes='180x180' href='favicon/apple-icon-180x180.png')
  link(rel='icon' type='image/png' sizes='192x192' href='favicon/android-icon-192x192.png')
  link(rel='icon' type='image/png' sizes='32x32' href='favicon/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='96x96' href='favicon/favicon-96x96.png')
  link(rel='icon' type='image/png' sizes='16x16' href='favicon/favicon-16x16.png')
  link(rel='manifest' href='favicon/manifest.json')
  meta(name='msapplication-TileColor' content='#ffffff')
  meta(name='msapplication-TileImage' content='/ms-icon-144x144.png')
  meta(name='theme-color' content='#ffffff')
// nav_bar
nav.nav_bar
  .nav_left
    .nav_logo
      a(href='index')
        img(src='img/nav_logo.svg')
  .nav_right
    ul
      li
        a(style='background-color: #0BCDB5;' href='https://preparados.typeform.com/to/aFiLik8L') ABRIR MI CASO
// main
.header
  .header_main
    .main_left
      h3 &iquest;Quienes somos?
      p Pues somos un equipo de voluntarios como puedes serlo t&uacute;.
    div(style='clear:both;')
// main
.feed
  // Inicio Caso
  .texto-libre
    h5 Buscamos soluciones tecnol&oacute;gicas
    p
      | Somos un grupo de compa&ntilde;eros y ex-compa&ntilde;eros de trabajo que de forma voluntaria y extralaboral hemos querido ponernos manos a la obra y ayudar a los peque&ntilde;os comercios en la crisis econ&oacute;mica derivada del COVID-19.
      br
      br
      | &#x9;&#x9;&#x9;Hemos construido una plataforma para poner en contacto a negocios cuya actividad ha disminuido por el confinamiento con voluntarios que est&aacute;n dispuestos a echarles una mano a digitalizar y adaptarse a esta nueva situaci&oacute;n. 
      br
      br
      | &#x9;&#x9;&#x9;Queremos que negocios como restaurantes, tiendas minoristas o centros de ense&ntilde;anza puedan recibir ayuda directa, gratuita y desinteresada de profesionales del mundo digital. El objetivo es minimizar lo m&aacute;ximo posible el impacto de esta crisis y que los negocios puedan crear p&aacute;ginas web, vender a trav&eacute;s de ellas, renovar su imagen, llegar a m&aacute;s usuarios gracias al marketing digital y a las redes sociales, ampliar canales de distribuci&oacute;n con reparto a domicilio, etc.
      br
      br
    h5 Estas somos las personas detr&aacute;s de este proyecto:
    p
      a(href='https://www.linkedin.com/in/adri%C3%A1n-g%C3%B3mez-mu%C3%B1oz-382708b1/' target='_blank') Adri&aacute;n G&oacute;mez Mu&ntilde;oz
      | : Back-End Developer.
    p
      a(href='https://www.linkedin.com/in/eatanasoff/' target='_blank') Erica Atanasoff
      | : Product Designer y Front-End Developer.
    p
      a(href='https://www.linkedin.com/in/jesus-orbegozo-64900a1/' target='_blank') Jesus Orbegozo
      | : Back-End Developer.
    p
      a(href='https://www.linkedin.com/in/nuria-cordero-mart%C3%ADnez-237a263a/' target='_blank') Nuria Cordero
      | : Product Manager.
    p
      a(href='https://www.linkedin.com/in/rafael-gonz%C3%A1lez-callejas/' target='_blank') Rafael Gonz&aacute;lez Callejas
      | : Business Intelligence Developer.
// Fin Caso
// Footer
.footer
  .webmap
    ul
      li
        a(href='index')
          p Inicio
      li
        a(href='proyectos')
          p Casos abiertos
      li
        a(href='quienes_somos')
          p Quienes somos
      li
        a(href='faqs')
          p Preguntas frecuentes
      li
        a(href='docs/termsandconditions_conecta-digital.pdf')
          p T&eacute;rminos y condiciones
      li
        a(href='docs/personalinfo-conecta-digital.pdf')
          p Pol&iacute;tica de privacidad
  .footer_2
    .footer_left
      h3(style='margin: 20px 0;') S&iacute;guenos y comparte
      .social
        a(href='https://twitter.com/conecta_esp')
          img(src='img/twitter.svg')
        a(href='https://www.instagram.com/conectadigital_es')
          img(src='img/instagram.svg')
        a(href='https://www.facebook.com/ConectaDigitalEsp/')
          img(src='img/facebook.svg')
      p
        | Si tienes dudas o quieres saludarnos, nos puedes escribir a 
        a(href='mailto:hola@conecta-digital.com') hola@conecta-digital.com
        | .
    .footer_right
      img(src='img/footer_logo.svg')
    div(style='clear:both;')
  .footer_1
    .footer_left
      h3(style='font-size: 1.8em;') Gracias por apoyar proyectos solidarios como este
    .negocios_right
      img(style='width: 40%; float: left;padding: initial;' src='img/typeform_logo.svg')
      img(style='width: 40%; float: right;padding: initial;' src='img/godaddy_logo.svg')
    div(style='clear:both;')
