doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  title Conecta a quienes tienen un negocio con voluntarios que los ayudan a crecer
  link(rel='stylesheet' href='css/feed_style.css')
  link(href='https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap' rel='stylesheet')
  meta(property='og:title' content='Conecta Digital España')
  meta(name='description' content='Te conectamos con quienes quieren verte crecer')
  meta(property='og:image' content='conecta-logo.png')
  // favicon
  link(rel='apple-touch-icon' sizes='57x57' href='favicon/apple-icon-57x57.png')
  link(rel='apple-touch-icon' sizes='60x60' href='favicon/apple-icon-60x60.png')
  link(rel='apple-touch-icon' sizes='72x72' href='favicon/apple-icon-72x72.png')
  link(rel='apple-touch-icon' sizes='76x76' href='favicon/apple-icon-76x76.png')
  link(rel='apple-touch-icon' sizes='114x114' href='favicon/apple-icon-114x114.png')
  link(rel='apple-touch-icon' sizes='120x120' href='favicon/apple-icon-120x120.png')
  link(rel='apple-touch-icon' sizes='144x144' href='favicon/apple-icon-144x144.png')
  link(rel='apple-touch-icon' sizes='152x152' href='favicon/apple-icon-152x152.png')
  link(rel='apple-touch-icon' sizes='180x180' href='favicon/apple-icon-180x180.png')
  link(rel='icon' type='image/png' sizes='192x192' href='favicon/android-icon-192x192.png')
  link(rel='icon' type='image/png' sizes='32x32' href='favicon/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='96x96' href='favicon/favicon-96x96.png')
  link(rel='icon' type='image/png' sizes='16x16' href='favicon/favicon-16x16.png')
  link(rel='manifest' href='favicon/manifest.json')
  meta(name='msapplication-TileColor' content='#ffffff')
  meta(name='msapplication-TileImage' content='/ms-icon-144x144.png')
  meta(name='theme-color' content='#ffffff')
// nav_bar
nav.nav_bar
  .nav_left
    .nav_logo
      a(href='index.html')
        img(src='img/nav_logo.svg')
  .nav_right
    ul
      li
        a(style='background-color: #FFD24F;' href='proyectos') VER CASOS
// main
.header
  .header_main
    .main_left
      h3 &iexcl;Muchas gracias!
      p Nos hace mucha ilusi&oacute;n pensar que esta comunidad crece con tu ayuda.
    div(style='clear:both;')
// main
.feed
  // Inicio Caso
  .texto-libre
    h3
      | &iquest;Y ahora qu&eacute; hago?
    h5
      | 1. Revisa tu correo
    p
      | Te hemos enviado un correo con la informaci&oacute;n del caso que has elegido y le hemos enviado el tuyo as&iacute; ya pueden comenzar a trabajar.
    br
    h5
      | 2. Contacta al negocio que espera tu ayuda
    p
      | Escr&iacute;bele un correo present&aacute;ndote. Puedes pedirle m&aacute;s informaci&oacute;n sobre su caso si lo que te hemos comentado en nuestro sitio no fue suficiente.
    br
    h5
      | 3. &iexcl;Pon manos a la obra!
    p
      | Ten siempre presente lo delicada de la situaci&oacute;n que estamos viviendo y brinda tu apoyo para ayudar a salir de la crisis a otros. Si en cualquier momento necesitas ayuda, no puedes continuar con el caso o se da cualquier otra situaci&oacute;n que quieras notificarnos, siempre nos puedes escribir a 
      a(href='mailto:hola@conecta-digital.com') hola@conecta-digital.com
      | .
    br
    .negocios_button
      a(href='proyectos')
        .button_secondary
          span VER M&Aacute;S CASOS
// Fin Caso
// Footer
.footer
  .webmap
    ul
      li
        a(href='index')
          p Inicio
      li
        a(href='proyectos')
          p Casos abiertos
      li
        a(href='quienes_somos')
          p Quienes somos
      li
        a(href='faqs')
          p Preguntas frecuentes
      li
        a(href='docs/termsandconditions_conecta-digital.pdf')
          p T&eacute;rminos y condiciones
      li
        a(href='docs/personalinfo-conecta-digital.pdf')
          p Pol&iacute;tica de privacidad
  .footer_2
    .footer_left
      h3(style='margin: 20px 0;') S&iacute;guenos y comparte
      .social
        a(href='https://twitter.com/conecta_esp')
          img(src='img/twitter.svg')
        a(href='https://www.instagram.com/conectadigital_es')
          img(src='img/instagram.svg')
        a(href='https://www.facebook.com/ConectaDigitalEsp/')
          img(src='img/facebook.svg')
      p
        | Si tienes dudas o quieres saludarnos, nos puedes escribir a 
        a(href='mailto:hola@conecta-digital.com') hola@conecta-digital.com
        | .
    .footer_right
      img(src='img/footer_logo.svg')
    div(style='clear:both;')
  .footer_1
    .footer_left
      h3(style='font-size: 1.8em;') Gracias por apoyar proyectos solidarios como este
    .negocios_right
      img(style='width: 40%; float: left;padding: initial;' src='img/typeform_logo.svg')
      img(style='width: 40%; float: right;padding: initial;' src='img/godaddy_logo.svg')
    div(style='clear:both;')
