extends layout

block content

  nav.navbar.navbar-expand-md.navbar-dark.bg-dark.mb-4
    a.navbar-brand(href='#') Mi Proyecto
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarCollapse' aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarCollapse.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href='/') Home
        li.nav-item
          a.nav-link(href='proyectos') Proyectos
        li.nav-item.active
          a.nav-link(href='voluntarios')
            | Voluntarios 
            span.sr-only (current)
  main.container(role='main')
    .jumbotron
      h1 Voluntarios
      p.lead
        | Estás en la página #{title}. Aquí irá un feed con los voluntarios.
      a.btn.btn-lg.btn-primary(href='#' role='button') Botón &raquo;
    .container

  footer
  .container
    div(align='center')
      | Desarrollado por Nuria, Erika, Adri, Rafa y Jesús :)
